#header-container {
  display: block;
  width: 100%;
  height: 50px;
  top: 25px;
  align-content: center;
  text-align: center;
}

#header {
  display: block;
  position: fixed;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  top: 0;
  bottom: 25px;
  align-content: center;
  text-align: center;
  background-image: linear-gradient(#001bf2, #02018e);
  color: white;
  overflow: hidden;
  z-index: 10;
}

#header-txt {
  position: sticky;
  top: 6px;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 17px;
}
