
/*
 * Popup Window
 */
 .popup {
    display: block; position: sticky;
    height: 75%;
    margin: -30px 20px 20px 20px; bottom: 100px;
    border: 2px inset #333;
    border-top-style: inset; border-top-width: 2px; border-top-color: rgb(51, 51, 51);
    border-right-style: inset; border-right-width: 2px; border-right-color: rgb(51, 51, 51);
    border-bottom-style: inset; border-bottom-width: 2px; border-bottom-color: rgb(51, 51, 51);
    border-left-style: inset; border-left-width: 2px; border-left-color: rgb(51, 51, 51);
    border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial;
    background: lightblue;
    font-family: Helvetica, Arial;
    color: white;
    z-index: 2;
}

.popup-header {
    display: grid; align-items: center;
    height: 30px;
    background-image: linear-gradient(#001bf2, #02018e);
    color: #FFF;
}

.popup-close-button {
    position: absolute;
    width: 29px; height: 29px;
    margin-top: -9px; right: -12px;
}

.popup-button {
    position: relative;
    text-align: center;
    margin: 15px;
	border: 1px inset rgba(50,50,50,0.75); border-radius: 5px;
    box-shadow: 0 1px 0 #ccc; text-shadow: 0 -1px 0 #000;
	font-family: Helvetica, Arial; font-weight: bold;
    color: white;
}

.popup-button-over {
    position: relative;
    text-align: center;
    margin: 15px;
	border: 1px inset rgba(50,50,50,0.75); border-radius: 5px;
    box-shadow: 0 1px 0 #ccc; text-shadow: 0 0 5px rgba(255,255,255,0.5);
	font-family: Helvetica, Arial; font-weight: bold;
    color: white;
}

.popup-button #popup-btn-regular {
    padding: 5px;
	background-image: linear-gradient(#5C7093, #32559C);    
}

.popup-button-over #popup-btn-regular {
    padding: 5px;
    background-image: linear-gradient(#7A8EB1, #5073BA);
}

.popup-button #popup-btn-cancel {
    padding: 5px;
	background-image: linear-gradient(#999, #777);
}

.popup-button-over #popup-btn-cancel {
    padding: 5px;
	background-image: linear-gradient(#BBB, #999);
}

#popup-container {
    display: unset;
    position: relative;
    color: white;
}
